body{
    background-color: #41FF6B1A;
}

.navbar{
    display: flex;
}

.navbar-title{
    font-weight: bold;
    color: #006747;
}

.navbar-right{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title{
    font-weight: bold;
    font-size: 1.5rem;
}